<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>springmvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>jsonTest</servlet-name>
    <servlet-class>com.java.servlet.JsonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jsonTest</servlet-name>
    <url-pattern>*.json</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadFile</servlet-name>
    <servlet-class>com.java.servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile</servlet-name>
    <url-pattern>*.upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadFile2</servlet-name>
    <servlet-class>com.java.servlet.UploadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadFile2</servlet-name>
    <url-pattern>*.upload2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downLoadFile</servlet-name>
    <servlet-class>com.java.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downLoadFile</servlet-name>
    <url-pattern>*.download</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downLoadFile2</servlet-name>
    <servlet-class>com.java.servlet.DownloadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downLoadFile2</servlet-name>
    <url-pattern>*.download2</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>requestAndresponse</servlet-name>
  	<servlet-class>com.java.servlet.RequestAndResponse</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>requestAndresponse</servlet-name>
  	<url-pattern>*.requestTest</url-pattern>
  </servlet-mapping>
</web-app>