<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrm.mapper.PositionMapper">
	
	<resultMap type="com.hrm.domain.Position" id="positionTeacherResultMap">
		<id property="id" column="id"/>
		<result property="name" column="t_pos_name"/>
		<collection property="teachers" javaType="List" ofType="com.hrm.domain.Teacher" select="queryTeacherByid">
			<id property="id" column="t_id"/>
			<result property="no" column="t_no"/>
			<result property="name" column="t_name"/>
			<result property="teachers" column="position_id"/>
		</collection>
	</resultMap>
	
	<select id="queryPositionTeacherResultMapById" resultMap="positionTeacherResultMap" 
		parameterType="Integer">
		select * from t_position where id = #{id}
	</select>

	<select id="queryPositionTeacherResultMap" resultMap="positionTeacherResultMap" >
		
		SELECT 
		p.*, 
		t.id t_id,
		t.t_name,
		t.t_no
		FROM t_position p
		LEFT JOIN t_teacher t
		ON p.id = t.position_id
	</select>
</mapper>